body{
    margin: 0px;
    font-family: pt-serif;
    color:#000000;
}

img{
   max-width: 100%;
   height: auto;
   display:block;
  

}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.subtitulo{
    font-size: 80px;
    line-height: 1;
    word-break: break-all;
    text-transform: uppercase;
    max-width: 8ch;
   
}

@media(max-width:800px){
    .subtitulo{
        font-size: 40px;
        text-transform: capitalize;
        max-width: initial !important;
    }
}


